/**
 * @file
 * Stylesheets for XC Account
 *
 * @copyright (c) 2010-2011 eXtensible Catalog Organization
 */
@CHARSET "UTF-8";

#bookmarks li {
  display: inline;
}

.ui-dialog {
  background-color: white;
  border: 1px solid green;
}

#hidden {
  display: none;
}

#dialog-confirm {
  height: auto;
  width: auto;
}

.ui-dialog-content {
  font-weight: bold;
  font-size: 120% !important;
  padding-top: 50px !important;
  text-align: center;
}

.ui-dialog .ui-dialog-container .ui-dialog-titlebar {
  display: none;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
  border-top: none;
  padding-bottom: 30px;
}

#xc-account-bookmarked-items-form tr.odd .form-item,
#xc-account-bookmarked-items-form tr.even .form-item {
  white-space: normal;
}

#dummy-remove-bookmark {
  display: none;
}