/**
 * @file
 * StyleSheets for XC Search module
 *
 * @copyright (c) 2010-2011 eXtensible Catalog Organization
 */

/** Search results **/
.xc-search .box h2 {
  display: none;
}

.xc-search-results {
  border: none;
}

.xc-search-results tbody {
  border: none;
}

table.xc-search-results tr {
  background-color: transparent;
}

.xc-search-results td {
  vertical-align: top;
}

.xc-search-results .num {}

.xc-search-results .checkbox {}

.xc-search-results .coverart {
  min-width: 70px;
}

.xc-search-results .result {}

.xc-search-results .result .xc-title {}

.xc-search-results .result .xc-creator {}

.xc-search-results .result .xc-creator em {}

.xc-search-results .result .xc-creator-name {}

.xc-search-results .result .xc-snippet {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  background: none;
}

.xc-search-results .result .xc-snippet .snippet-label {
  width: 80px;
}

.xc-search-results .result .xc-snippet tr,
.xc-search-results .result .xc-snippet td {
  background: none;
  border: none;
}

.xc-search-results .result .xc-snippet tr {}

.xc-search-results .result .xc-snippet td {
  padding: 0 0.5em 0 0;
}

.xc-search-results .result .xc-snippet .xc-date {}

.xc-search-results .result .xc-snippet .xc-availability {}

.xc-search-results .has-highlight .xc-snippet,
.xc-search-results .has-abstract .xc-snippet {
  width: 55%;
}

.xc-search-results .highlight-container,
.xc-search-results .xc-abstract-container {
  float: right;
  width: 45%;
  font-size: 0.9em;
}

.xc-search-results .highlight-container .highlight,
.xc-search-results .xc-abstract-container .xc-abstract {
  margin-left: 1em;
}

.xc-search-results .highlight-container .highlight em {
  font-weight: bold;
}

.xc-search-results .xc-abstract-container .xc-abstract span em {
  font-weight: bold;
}

.xc-frbr-navigation {
  display: none;
}

.xc-debug-info {}

/** Full record display **/

#xc-search-full {
  clear: both;
}

#xc-search-full-left {
  margin-right: 225px;
}

#xc-search-full-right {
  float: right;
  text-align: center;
  width: 145px;
}

#xc-search-full-right .coverart img {
  max-width: 145px;
}

#xc-search-full-right .buttons {
  text-align: left;
}

#xc-search-full-right .buttons .form-submit {
  width: 100%;
}

.xc-search-full-table,
.xc-search-full-table thead,
.xc-search-full-table tbody {
  border: none;
}

.xc-search-full-table tr {}

.xc-search-full-table tr th,
.xc-search-full-table tr td {
  word-wrap: break-word;
  border: none;
}

table.xc-search-full-table tr td,
table.xc-search-full-table tr td div.item-list {
  margin-top: 0;
  padding-top: 0;
}

#xc-search-related-subjects {}

#xc-search-related-resources {}

#xc-search-similar-items {}

#xc-search-similar-items-images {}

#xc-search-similar-items-images .xc-mlt {}

#xc-search-similar-items-images .xc-mlt-coverart {}

#xc-search-similar-items-images .xc-mlt-title {}

#xc-search-similar-items-images .xc-mlt-author {}

#xc-search-similar-items-titles {}

#xc-search-similar-items-titles .xc-mlt {}

#xc-search-similar-items-titles .xc-mlt-coverart {}

#xc-search-similar-items-titles .xc-mlt-title {}

#xc-search-similar-items-titles .xc-mlt-author {}

.xc-availability table {
  margin: 0;
}

.xc-availability table thead,
.xc-availability table tbody {
  border: none;
}

.xc-availability table thead {}

.xc-availability table tr.hidden {
  display: none;
}

.xc-availability table td {
  border-top: 1px solid #ccc;
}

.xc-availability table tr.first td {
  padding-top: 0;
  border-top: none;
}

.xc-availability table tr.even, .xc-availability tr.odd {
  background-color: transparent;
}

.xc-circ-location {
  padding-left: 0;
}

.xc-availability table td.xc-circ-status {
  text-align: center;
}

.xc-circ-call-number {}

.xc-circ-status-available {}

.xc-circ-status-unknown, .xc-circ-status-other {}

.xc-full-coverart {
  margin: 0;
  padding: 0;
  width: 0px; /** Set to zero keep this column lean **/
}

.xc-label {
  width: 150px;
  text-align: right;
}

/* FIXME: This should be changed when the MLT has better HTML */
.xc-full-section-similar-items h3 {
  margin: 0.25em 0;
  padding: 0;
  font-size: 1em;
}

.xc-hack-no-border {
  border: none !important;
}


/**************************************************************/


/* Full display */

table#xc-authors-list {
  margin: 0;
  padding: 0;
  width: auto;
}

table#xc-authors-list tr.odd,
table#xc-authors-list tr.even {
  background-color: transparent;
}

table#xc-authors-list tr.xc-hidden-author {
  display: none;
}

table#xc-authors-list td {
  padding-top: 0;
}

/** Search form **/

#xc-search-form {}

#xc-search-form .form-item {
  margin-top: 0;
}

#xc-search-keys,
#xc-search-hits,
#xc-search-sort,
#xc-search-rows {
  float: left;
}

#xc-search-hits .form-submit {
  margin: 0 0 1em;
}

#xc-search-sort,
#xc-search-rows {
  margin-right: 1em;
}

#xc-search-keys {}

#xc-search-keys .form-text {
  width: 400px;
}

#xc-search-hits {
  margin-left: 0.5em;
}

#xc-search-info {
  clear: both;
}

#xc-search-info label,
#xc-search-info select {
  display: inline;
}

#xc-search-sort {}

#xc-search-rows {}


/** Info bar **/

.xc-search-info-bar {
  clear: both;
}

.xc-search-info-bar {
  margin: 0;
  padding: 0.5em;
  clear: both;
  height: 40px;
  line-height: 40px;
  font-size: 0.9em;
  text-align: center;
}

.xc-search-info-bar-primary {
  border: 1px solid #ddd;
  background-color: #fafafa;
}

.xc-search-info-bar-secondary {}

.xc-search-info-bar-001a-primary {}

.xc-search-info-bar-001a-secondary {}

.xc-search-info-bar-001b-primary {}

.xc-search-info-bar-001b-secondary {}

.xc-search-info-bar-002a-primary {}

.xc-search-info-bar-002a-secondary {}

.xc-search-info-bar-002b-primary {}

.xc-search-info-bar-002b-secondary {}

.xc-search-info-bar-top {}

.xc-search-info-bar-bottom {}

.xc-search-info-bar-pager {
  border: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

.xc-search-info-bar-actions {
  display: inline;
}

.xc-search-actions {
  display: inline;
}


.xc-search-action-links {
  float:left;
}

.xc-search-action-links .links {
  display: inline;
}

.xc-search-action-links ul,
.xc-search-action-buttons ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.xc-search-action-links ul li {
  list-style: none;
  padding: 0;
}

.xc-search-action-links ul li.first {}

.xc-search-action-links ul li a {}

.xc-search-action-buttons {
  float: left;
  margin: 0;
}

.xc-search-action-buttons .item-list {
  display: inline;
}


.xc-search-action-buttons ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.xc-search-action-buttons ul li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.xc-search-action-buttons ul li input {
  margin: 0.25em 0;
  padding: 0.25em 1em;
  font-weight: normal;
}

.xc-search-numbers {
/*  float: right;*/
  display: inline;
}

.xc-search-numbers .first,
.xc-search-numbers .last,
.xc-search-numbers .total {}

.xc-search-numbers .first {}

.xc-search-numbers .last {}

.xc-search-numbers .total {}

.xc-search-pager {}

.xc-search-pager .item-list {}

.xc-search-pager .pager {
  margin: 0;
  padding: 0;
  display: inline;
  clear: none;
}

.xc-search-pager ul {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  left: 50%;
}

.xc-search-pager ul li,
.xc-search-pager .item-list .pager li {
  margin: 0 0.25em;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  float: left;
  position: relative;
  display: block;
  right: 50%;
}

.xc-search-pager ul li a,
.xc-search-pager ul li.pager-current,
.xc-search-pager .item-list .pager li.pager-current {
  margin: 0;
  padding: 0;
  border: none;
}

.xc-search-pager ul li.pager-ellipsis,
.xc-search-pager .item-list .pager li.pager-ellipsis {
  display: none !important;
}

.xc-search-pager-previous, .xc-search-pager-next {
  background-repeat: no-repeat;
  background-position: center;
}

.xc-search-pager-next {
  background-image: url("../images/next.png");
}

.xc-search-pager-previous {
  background-image: url("../images/prev.png");
}

.xc-search-pager .xc-search-pager-current {
  margin: 0 0.5em;
  padding: 0;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-image: none;
}

.xc-search-pager .xc-search-pager-current {
  margin: 0 0.5px;
  padding: 0;
  display: block;
}

.xc-search-pager ul li.first,
.xc-search-pager ul li.first a,
.xc-search-pager .item-list .pager li.first,
.xc-search-pager .item-list .pager li.first a {
  border-left: none;
}

.xc-search-pager ul li.pager-current {}

.xc-search-pager ul li.pager-current a {}

.xc-search-action-form {
  float: right;
  display: inline;
}

.xc-search-sort-form, .xc-search-sort-form form, .xc-search-sort-form form div {
  display: inline;
}

.xc-search-rowsperpage {
  display: inline;
}

.xc-search-rowsperpage-link-actual {
  font-weight: bold;
}


/** Result navigation **/

#xc-search-result-navigation {
  height: 26px;
  text-align: center;
}

#xc-search-result-navigation .result-nav {
  height: 26px;
}

#xc-search-result-navigation .result-prev {
  float: left;
  text-align: left;
}

#xc-search-result-navigation .result-list {}

#xc-search-result-navigation .result-next {
  float: right;
  text-align: right;
}

#xc-general-notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 200px;
  padding: 3px;
  background-color: #ddd;
  font-size: 9px;
}

#xc-bookmark-close {
  float: right;
}

.text_exposed_show {
  display: inline;
}

.text_exposed_hide {
  display: none;
}

#xc-circ-link-on-top {
  float: right;
  clear: both;
  display: none;
}

.xc-search-back-to-results {
  float: left;
}

#xc-suggestions {}
.xc-suggestions-title {}
.xc-suggestions-list {
  float: left;
  margin-right: 2em;
}
.xc-suggestions-list p {
  margin: 0;
}

.xc-remove-bar {}

.xc-remove-bar ul li img {
  position: relative;
  right: 8px;
  top: 1px;
}

#xc-search-clear {
  float: left;
  margin: 9px -20px 0 -10px;
  font-weight: bolder;
}

#xc-search-clear a {
  text-decoration: none;
}