/**
 * @file
 * Stylesheet for XC Browse modules
 *
 * @copyright (c) 2010-2011 eXtensible Catalog Organization
 */
@CHARSET "UTF-8";

ul.xc-browse-tab li {
  display: inline;
  clear: right;
}

/*
div.xc-navigation-bar {}
div.xc-navigation-bar-label {}
*/

#center form#xc-browse-form {
  margin-bottom: 0.5em;
}

#center form#xc-browse-form .form-submit {
  margin: 0;
}

.xc-navigation-bar-content ul.xc-navigation-bar-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.xc-navigation-bar-content ul.xc-navigation-bar-list li {
  display: inline;
  padding: 0;
  margin: 0 5px 0 0;
  background-color: transparent;
}

.xc-navigation-bar-content ul.xc-navigation-bar-list li {
  text-decoration: underline;
}

.xc-navigation-bar-content ul.xc-navigation-bar-list li.last {
  margin: 0;
}

/** ABC list **/
.xc-navigation-bar-content ul.xc-navigation-bar-list-abc {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.xc-navigation-bar-content ul.xc-navigation-bar-list-abc li {
  display: inline;
  padding: 0;
  margin: 0 5px 0 0;
  background-color: transparent;
}

.xc-navigation-bar-content ul.xc-navigation-bar-list-abc li {
  text-decoration: underline;
}

.xc-navigation-bar-content ul.xc-navigation-bar-list-abc li.last {
  margin: 0;
}

.xc-navigation-bar-content ul.alpha li {
  font-size:larger;
  font-weight: bold;
}

.xc-navigation-bar-content ul li a {
  text-decoration: underline;
}