@CHARSET "UTF-8";
#time_statistics .collapsed td span { color: cornflowerblue; }
#time_statistics td, #time_statistics th {text-align: right; }
#time_statistics td.label, #time_statistics th.label {text-align: left; }
